<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BugTracker.Properties.Settings.ConnectionString" connectionString="Data Source=sql5080.site4now.net;Persist Security Info=True;User ID=DB_A674C1_labanda_admin;Password=Ardacos73"
            providerName="System.Data.SqlClient" />
        <add name="BugTracker.Properties.Settings.DB_A674C1_labandaConnectionString"
            connectionString="Data Source=sql5080.site4now.net;Initial Catalog=DB_A674C1_labanda;User ID=DB_A674C1_labanda_admin;Password=Ardacos73"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
